fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-classic
psycopg2-binary
sqlalchemy
pgvector
pypdf
docx2txt
sentence-transformers
huggingface-hub<1.0.0
