fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-classic
fastembed
psycopg2-binary
sqlalchemy
pgvector
pypdf
docx2txt
pytest
ragas
dataset
rank-bm25
flashrank
